<h2> Tell us some recon about the server and we'll give you a hint :)  </h2>
<form action="/hint" method="POST">
   Server name: <input type="text" name="username">
   Server Version: <input type="text" name="password">
   <button type="submit"> Submit </button>
</form>

